version: '2.1'

services:
    mysql:
        image: mysql:5.7
        container_name: coin_exchanger_mysql
        restart: always
        ports:
            - "3307:3306"
        environment:
            MYSQL_ROOT_PASSWORD: 123456*
        command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

    redis:
        image: redis
        restart: always
        container_name: coin_exchanger_redis
        ports:
            - "6380:6379"
        command: redis-server --requirepass 123456*

    namesrv:
        image: rocketmqinc/rocketmq-namesrv:4.5.0-alpine-uid
        restart: always
        container_name: coin_exchanger_namesrv
        ports:
            - "9876:9876"
        environment:
            MAX_POSSIBLE_HEAP: 100000000
        command: sh mqnamesrv

    rocketmq-console:
        image: styletang/rocketmq-console-ng
        restart: always
        container_name: coin_exchanger_rocketmq-console
        ports:
            - "8080:8080"
        environment:
            JAVA_OPTS: "-Drocketmq.namesrv.addr=127.0.0.1:9876 -Dcom.rocketmq.sendMessageWithVIPChannel=false"
        depends_on:
            - namesrv

    broker:
        image: rocketmqinc/rocketmq
        restart: always
        container_name: coin_exchanger_broker
        ports:
            - "10911:10911"
            - "10909:10909"
        volumes:
            - ./config/broker.conf:/opt/rocketmq-4.4.0/conf/broker.conf
        environment:
            NAMESRV_ADDR: namesrv:9876
            MAX_POSSIBLE_HEAP: 200000000
        depends_on:
            - namesrv
        command: sh mqbroker -c /opt/rocketmq-4.4.0/conf/broker.conf


    mongo:
        image: mongo
        container_name: mongo
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: 123456*
        command: mongod --auth

    nacos:
        image: nacos/nacos-server:1.1.4
        container_name: nacos
        environment:
            - MODE=standalone
        ports:
            - "8848:8848"

    sentinel:
        image: bladex/sentinel-dashboard
        container_name: sentinel
        ports:
            - "8858:8858"

    seata:
        image: seataio/seata-server
        container_name: seata
        ports:
            - "8091:8091"
            - "8092:8092"
        environment:
            - SEATA_PORT=8091
            - SEATA_CONFIG_NAME=file:/root/seata/conf/nacos-config.txt
            - SEATA_IP=0.0.0.0
